.button-container {
    display: flex;
    justify-content: flex-end;
  }

  .map-container {
    height: 730px;
    width: 90%;
    margin: auto;
    display: flex;
  }
  .weather-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;
  }

  .homepage {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .weather-grid-item {
    background-color: rgb(220, 248, 255);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 20px;
  }
  
  .weather-grid-header {
    margin-bottom: 10px;
  }
  
  .weather-grid-content p {
    margin: 5px 0;
  }
  