.button-container {
    display: flex;
    justify-content: flex-end;
  }

  .map-container {
    height: 730px;
    width: 90%;
    margin: auto;
    display: flex;
  }
  .weather-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;
  }
  
  .history-page-container {
    /* Styles for the container */
  }
  
  .history-item {
    background-color: #e7e5e4;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
  }
  
  .history-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .history-record {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .history-record:hover {
    background-color: #d0cecd; /* Change hover color here */
  }
  
  